

*{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    margin:0;
    padding: 0;
}


.softborder{
    border: 1px solid #e1e1e1;
    border-radius: 25px;
    padding: 1rem 1rem;
}

.grey-text{
    color:#b3c2c0;
}

.little-icon{
    max-width: 48px;
    max-height: 48px;
}



.basic-container{
    background-color: #0f172acc;
    width: 30vw;
    max-width: 420px;
    min-height: 60vh;
    padding: 1rem;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
/* On s'assure que le conteneur principal coupe les débordements */
main {
    align-items: flex-start; /* Aligne en haut par défaut */
    padding: 40px 0;         /* Donne de l'air en haut et en bas */
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    position: relative; /* Indispensable pour l'absolute des cercles */
    overflow: hidden;    /* C'est CA qui remplace le besoin du 'fixed' */
}

/* Base commune pour les cercles */
main::before, main::after {
    content: '';
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    filter: blur(110px);
    opacity: 0.15;
    z-index: 0;
    pointer-events: none;
}

/* Cercle en haut à gauche */
main::before {
    background: radial-gradient(circle, #0047b1, #00ccff);
    top: -200px;
    left: -200px;
    animation: float1 15s ease-in-out infinite;
}


/* Cercle en bas à droite */
main::after {
    background: radial-gradient(circle, #0047b1, #00ccff);
    bottom: -200px;
    right: -200px;
    animation: float2 15s ease-in-out infinite; /* Un peu plus lent pour le déphasage */
}




#login_container{
    background-color: #0f172acc;
    width: 30vw;
    max-width: 420px;
    min-height: 60vh;
    padding: 1rem;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

#home-container{
    background-color: #0f172acc;
    width: 30vw;
    max-width: 420px;
    min-height: 60vh;
    padding: 1rem;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

#profile-container{
    background-color: #0f172acc;
    width: 30vw;
    max-width: 420px;
    min-height: 60vh;
    padding: 1rem;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.page-title{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

h1{
    color: #e0f2f0;
    margin: 0;
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
}

h2{
    color: #e0f2f0;
    margin: 0;
    font-size: 1.7rem;
    font-weight: 500;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
}

.form-element{
    width: 100%;
    margin-bottom: 24px;
}

.white-text{
    color: #dedede;
}

.link-color{
    color: #00ccff;
    text-decoration: none;
}
.link-color:hover{
    text-decoration: underline;
}

.form-label{
    display: block;
    color: #cbd5e1;
    margin-bottom: 8px;
    font-size: 1.1rem;
}

input, select{
    border: 1px solid #53606e;
    border-radius: 5px;
    padding: .8em 1em;
    width: 92%;
    color: #dedede;
    font-weight: 600;
    font-size: 1rem;
    background: #080d17cc ;
    transition: ease .2s;
}
input:focus{
    border: 1px solid #5b93ce !important;
    outline: none;
}

input:hover{
    border:1px solid #78a8dc !important;;
    outline: none;
}


/*-------------------*/
/*----- ALERTES -----*/
/*-------------------*/

/* Base commune pour toutes les alertes (Erreur et Succès) */
.alert-box {
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: center;
    border: 2px solid; /* L'épaisseur est la même pour tous */
    font-weight: 500;
}

/* Variante pour les erreurs */
.alert-error {
    border-color: #e74c3c;
    background-color: rgba(231, 76, 60, 0.2); /* Rouge translucide */
    color: #e74c3c;
}

/* Variante pour les succès */
.alert-success {
    border-color: #2ecc71;
    background-color: rgba(46, 204, 113, 0.2); /* Vert translucide */
    color: #2ecc71;
}



/*-------------------*/
/*----- INPUTS ------*/
/*-------------------*/

/* Cible spécifiquement l'icône du calendrier dans les champs de date */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Transforme le noir (0) en blanc (1) */
    cursor: pointer;   /* Change le curseur en main pour montrer que c'est cliquable */
}

input[type="submit"]{
    width: 101%;
    background: #5e5eff;
    color: #fff;
    transition: ease 0.1s;
}
input[type="submit"]:hover{
    cursor: pointer;
    background-color: #7474ff;
}

a:hover{
    text-decoration: none;
}

#genrechoices{
    display: flex;
    column-gap: 1rem;

}

.genrechoice{
    display: flex;
}






/* Animation 1 : On rentre un peu et on gonfle */
@keyframes float1 {
    0%, 100% { transform: translate(-50px, 100px) scale(0.90); }
    50% { transform: translate(100px, -50px) scale(1.1); }
}

/* Animation 2 : On rentre vers le HAUT et la GAUCHE (valeurs négatives) */
@keyframes float2 {
    0%, 100% { transform: translate(0, 0) scale(1); }
    50% { transform: translate(-60px, -50px) scale(1.1); }
}